<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Formulario registro biblioteca</title>
</head>
<body>
<header>
    <table>
        <td>
            <img width="100px" th:src="@{/images/Naucratis.png}">
        </td>
        <td>
            <h1> Naucratis </h1>
        </td>
    </table>
</header>
<nav>
    <ul>
        <li th:if="${#strings.equals(role,'administrator')}">
            <a th:href="@{/administrator/libraries}"><button type="button">Librerias</button> </a>
        </li>
        <li th:if="${role != null}">
            <a th:href="@{'/' + ${role}}"> <button type="button"> Ver perfil </button></a>
        </li>
        <li th:if="${role != null}">
            <form method="POST" th:action="@{/logout}">
                <input type="submit" value="Cerrar sesión"/>
            </form>
        </li>
    </ul>
</nav>
<form method="POST" th:action="@{/register/library}" id="registrationLibraryForm">
    <table>
        <tr>
            <td><label for="name">Nombre: </label></td>
            <td><input type="text" name="name"/></td>
        </tr>
        <tr>
            <td><button type="submit"> Registrar </button></td>
        </tr>
    </table>
</form>
</body>
</html>