<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
            <meta charset="UTF-8">
            <title> Formulario modificacion libro </title>
    </head>
    <body>


        <header>
            <table>
                <td>
                    <img width="100px" th:src="@{/images/Naucratis.png}">
                </td>
                <td>
                    <h1> Naucratis </h1>
                </td>
            </table>
        </header>


        <nav>
            <ul>
                <li th:if="${#strings.equals(role,'administrator')}">
                    <a th:href="@{/administrator/libraries}"><button type="button">Librerias</button> </a>
                </li>
                <li th:if="${role != null}">
                    <a th:href="@{'/' + ${role}}"> <button type="button"> Ver perfil </button></a>
                </li>
                <li th:if="${role != null}">
                    <form method="POST" th:action="@{/logout}">
                        <input type="submit" value="Cerrar sesión"/>
                    </form>
                </li>
            </ul>
        </nav>


        <form method="POST" th:action="@{'/modify/'+${name_library}+'/book/'+${copyBook.id}}" id="copyBookForm">
            <input type="hidden" th:value="${copyBook.id}" name="id">
            <input type="hidden" th:value="${copyBook.isbn}" name="isbn">
            <table>
                <tr>
                    <td><label for="condition">Condición: </label></td>
                    <td><input type="text" name="condition" th:value="${copyBook.condition}"/></td>
                </tr>
                <tr>
                    <td><label for="price">Precio: </label></td>
                    <td><input type="text" name="price" th:value="${copyBook.price}"/></td>
                </tr>
                <tr>
                    <td><label for="site">Sitio: </label></td>
                    <td>
                        <select name="site">
                            <div th:each="site: ${sites}">
                                <option th:value="${site.address}">
                                    <span th:text="${site.address}"> DIRECCIÓN </span>
                                </option>
                            </div>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <input type="radio" id="status" name="status" th:value="${'AVAILABLE'}">
                            <label for="status"> Disponible </label>
                        </div>
                        <div>
                            <input type="radio" id="status" name="status" th:value="${'NOAVAILABLE'}">
                            <label for="status"> No disponible </label>
                        </div>
                        <div>
                            <input type="radio" id="status" name="status" th:value="${'SOLD'}">
                            <label for="status"> Vendido </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><label for="description"> Descripción: </label></td>
                    <td>
                        <textarea name="description" th:value="${copyBook.description}"/></textarea>
                    </td>
                </tr>
                <tr>
                    <td><button type="submit"> Registrar</button></td>
                </tr>
            </table>
        </form>
    </body>
</html>