<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<header>
    <table>
        <td>
            <img width="100px" th:src="@{/images/Naucratis.png}">
        </td>
        <td>
            <h1> Naucratis </h1>
        </td>
    </table>
</header>
<nav>
    <ul>
        <li th:if="${role != null}">
            <form method="POST" th:action="@{/logout}">
                <input type="submit" value="Cerrar sesión"/>
            </form>
        </li>
    </ul>
</nav>
<h1> Administrador </h1>
<h2> Datos personales:</h2>
<table>
    <tr><img width="200px" th:src="'data:image/png;base64,'+${administrator.getImageBase64()}"></tr>
    <tr>
        <td>Nombre: </td>
        <td><span th:text="${administrator.name}">NOMBRE</span></td>
    </tr>
    <tr>
        <td>Ciudad: </td>
        <td><span th:text="${administrator.city}">CIUDAD</span></td>
    </tr>
    <tr>
        <td>Dirección: </td>
        <td><span th:text="${administrator.address}">DIRECCIÓN</span></td>
    </tr>
    <tr>
        <td>Telefono: </td>
        <td><span th:text="${administrator.phone}">TELEFONO</span></td>
    </tr>
    <tr>
        <td>Correo: </td>
        <td><span th:text="${administrator.email}">CORREO</span></td>
    </tr>
</table>
<h2> <a th:href="@{/administrator/libraries}"> Librerias </a> </h2>
<br>
</body>
</html>