<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <!--Especificaciones de la pantalla-->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Naucratis</title>

  <!--Configuración de estilos-->
  <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link th:href="@{/css/estilos-Naucratis.css}" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" th:src="@{/js/naucratis.js}"></script>
</head>

<body id="page-top">

<div id="wrapper">

  <!--Barra de herramientas-->
  <div th:fragment="toolbar">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
      <!--Titulo y icono-->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/}">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-book"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Naucratis</div>
      </a>

      <!--División-->
      <hr class="sidebar-divider my-0">

      <!--División-->
      <hr class="sidebar-divider" sec:authorize="hasRole('ROLE_CUSTOMER') || !isAuthenticated()">

      <!--Subtitulo: "Usuario"-->
      <div class="sidebar-heading" sec:authorize="hasRole('ROLE_CUSTOMER') || !isAuthenticated()">Usuario</div>

      <!--Funcionalidad buscar-->
      <li class="nav-item" sec:authorize="hasRole('ROLE_CUSTOMER') || !isAuthenticated()">
        <a class="nav-link" href="blanco.html">
          <i class="fas fa-search"></i>
          <span>Buscar</span></a>
      </li>

      <!--Funcionalidad ver sedes-->
      <li class="nav-item" sec:authorize="hasRole('ROLE_CUSTOMER') || !isAuthenticated()">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSedeCusPages"
           aria-expanded="true" aria-controls="collapseSedePages">
          <i class="far fa-building"></i>
          <span>Sedes</span>
        </a>
        <!--Enlaces con el CRUD de las sedes-->
        <div id="collapseSedeCusPages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" th:href="@{/libraries}">Ver sedes</a>
          </div>
        </div>
      </li>

      <!--Funcionalidad carrito-->
      <li class="nav-item" sec:authorize="hasRole('ROLE_CUSTOMER') || !isAuthenticated()">
        <a class="nav-link" th:href="@{/customer/shoppingCart}">
          <i class="fas fa-shopping-cart"></i>
          <span>Carrito</span>
        </a>
      </li>

      <!--División-->
      <hr class="sidebar-divider" sec:authorize="hasRole('ROLE_ADMINISTRATOR')">

      <!--Subtitulo: "Administrador"-->
      <div class="sidebar-heading" sec:authorize="hasRole('ROLE_ADMINISTRATOR')">Administrador</div>

      <!--Funcionalidad inventario-->
      <li class="nav-item" sec:authorize="hasRole('ROLE_ADMINISTRATOR')">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
           aria-expanded="true" aria-controls="collapsePages">
          <i class="fas fa-list-ul"></i>
          <span>Inventario</span>
        </a>
        <!--Dos enlaces con cada una de las funcionalidades del inventario-->
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="blanco.html">Añadir libro</a>
            <a class="collapse-item" href="inventario.html">Editar libro</a>
          </div>
        </div>
      </li>

      <!--Funcionalidad sedes-->
      <li class="nav-item" sec:authorize="hasRole('ROLE_ADMINISTRATOR')">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSedeAdmPages"
           aria-expanded="true" aria-controls="collapseSedePages">
          <i class="far fa-building"></i>
          <span>Sedes</span>
        </a>
        <!--Enlaces con el CRUD de las sedes-->
        <div id="collapseSedeAdmPages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" th:href="@{/library/new}">Nueva sede</a>
            <a class="collapse-item" th:href="@{/libraries}">Ver sedes</a>
            <a class="collapse-item" th:href="@{/library/edit}">Editar sedes</a>
          </div>
        </div>
      </li>

      <!--Funcionalidad estadisticas-->
      <li class="nav-item" sec:authorize="hasRole('ROLE_ADMINISTRATOR')">
        <a class="nav-link" th:href="@{/estadisticas}">
          <i class="fas fa-chart-bar"></i>
          <span>Estadísticas</span></a>
      </li>

      <!--División-->
      <hr class="sidebar-divider d-none d-md-block">

    </ul>
    <!-- Fin barra de herramientas-->
  </div>


  <!--Barra de contenido-->
  <div id="content-wrapper" class="d-flex flex-column">

    <div id="content">

      <div th:fragment="contentbar">
        <!--Barra de busqueda -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!--Icono-->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!--Barra-->
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" placeholder="Buscar..."
                     aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>

          <!--Menu desplegable (dispositivos moviles)-->
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!--Barra de busqueda (dispositivos moviles)-->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                   aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small"
                           placeholder="Buscar..." aria-label="Search"
                           aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

            <!--División-->
            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Login -->
              <li class="nav-item dropdown no-arrow" sec:authorize="isAuthenticated() == false">
                <a class="nav-link" th:href="@{/login}" id="loginHome" role="button">
                  <span class="mr-2 d-none d-lg-inline text-black-50 small">Iniciar Sesión</span>
                </a>
              </li>
              <!--División-->
              <div class="topbar-divider d-none d-sm-block" sec:authorize="isAuthenticated() == false"></div>
            <!-- Registro -->
              <li class="nav-item" sec:authorize="isAuthenticated() == false">
                <a class="nav-link" th:href="@{/register}" id="registerHome" role="button">
                  <span class="mr-2 d-none d-lg-inline text-black-50 small">Registrarse</span>
                </a>
              </li>

            <!-- Informacion de usuario -->
            <li class="nav-item dropdown no-arrow" sec:authorize="hasAnyRole('ROLE_ADMINISTRATOR', 'ROLE_CUSTOMER')">
              <!--Nombre y icono-->
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small" th:text = "${#authentication.getPrincipal().getName()}"></span>
                <img class="img-profile rounded-circle"
                     src="/images/undraw_profile.svg">
              </a>
              <!--Opciones de perfil, configuración y cerrar sesión-->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                   aria-labelledby="userDropdown">
                <a class="dropdown-item" th:href="@{'/' + ${role}}">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Perfil
                </a>
                <!--<a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Configuración
                </a>-->
                <div class="dropdown-divider"></div>
                <!--Cerrar sesión es la unica que funciona, despliega una tarjeta para validar el cierre de sesión-->
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Cerrar Sesión
                </a>
              </div>
            </li>
          </ul>
          <!--Fin barra de contenido-->
        </nav>
      </div>

      <!--Contenido de la pagina-->
      <div class="container-fluid">
        <div class="text-center">
          <h2>Bienvenido a Naucratis</h2>
          <!--
          <nav>
            <ul>
              <li th:if="${#strings.equals(role,'administrator')}">
                <a th:href="@{/administrator/libraries}"><button type="button">Librerias</button> </a>
              </li>
              <li th:if="${#strings.equals(role,'customer')}">
                <a th:href="@{/customer/shoppingCart}"><button type="button">Carrito</button> </a>
              </li>
            </ul>
          </nav>-->

          <a th:href="@{/libraries}"> Librerias </a>
        </div>
      </div>
      <!--Fin contenido de la pagina-->
    </div>
  </div>
</div>

<div th:fragment="utils">
    <!--Boton de subida rapido-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!--Tarjeta de cierre de sesión-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">¿Seguro que desea cerrar sesión?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <!--Presionar cancelar disminuye la tarjeta, presionar cerrar sesión lleva al usuario a login-->
                <div class="modal-body">Seleccione cerrar sesión para salir de la pagina principal</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" th:href="@{/logout}">Cerrar sesión</a>
                </div>
            </div>
        </div>
    </div>
    <!--Fin tarjeta de cierre de sesión-->
</div>
<!--Bootstrap complementado con JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!--Complemento JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!--Scripts personalizados para todas las páginas-->
<script th:src="@{/js/naucratis.min.js}"></script>

<!--Complementos de nivel de página-->
<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

<!--Secuencias de comandos personalizadas a nivel de página-->
<script th:src="@{/js/demo/datatables-demo.js}"></script>
</body>

</html>