<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
      <meta charset="UTF-8">
      <title>Naucratis</title>
  </head>
  <body>
    <header>
      <table>
        <td>
          <img width="100px" th:src="@{/images/Naucratis.png}">
        </td>
        <td>
          <h1> Naucratis </h1>
        </td>
      </table>
    </header>
    <nav>
      <ul>
        <li th:if="${role == null}">
          <a th:href="@{/login}"> <button type="button">Iniciar Sesión</button></a>
          <a th:href="@{/register}"> <button type="button">Registrarse</button></a>
        </li>
        <li th:if="${#strings.equals(role,'administrator')}">
          <a th:href="@{/administrator/libraries}"><button type="button">Librerias</button> </a>
        </li>
        <li th:if="${#strings.equals(role,'customer')}">
          <a th:href="@{/administrator/libraries}"><button type="button">Libros</button> </a>
        </li>
        <li th:if="${role != null}">
          <a th:href="@{'/' + ${role}}"> <button type="button"> Ver perfil </button></a>
        </li>
        <li th:if="${role != null}">
          <form method="POST" th:action="@{/logout}">
            <input type="submit" value="Cerrar sesión"/>
          </form>
        </li>
      </ul>
    </nav>
    ¡Bienvenido!
  </body>
</html>