<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Naucratis</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
</head>

<body>
<div class="row justify-content-center">
    <div class="col-md-4 mt-s">
        <div class="alert alert-success" th:if="${success !=null}" th:text="${success }"></div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="card mt-5">
            <div class="card-header text-center"><h4>Subida imagenes</h4></div>
            <div class="card-body">
                <form th:action="@{/}" th:object="${libro}" method="POST" enctype="multipart/form-data">

                    <div clas="form-group">
                        <label>ISBN</label>
                        <input type="text" th:field="*{isbn}" class="form-control"/>
                    </div>
                    <div clas="form-group">
                        <label>Nombre</label>
                        <input type="text" th:field="*{name}" class="form-control"/>
                    </div>
                    <div clas="form-group">
                        <label>Editorial</label>
                        <input type="text" th:field="*{editorial}" class="form-control"/>
                    </div>
                    <div clas="form-group">
                        <label>Categoria</label>
                        <input type="text" th:field="*{category}" class="form-control"/>
                    </div>
                    <div clas="form-group">
                        <label>Estado</label>
                        <input type="text" th:field="*{status}" class="form-control"/>
                    </div>
                    <div clas="form-group">
                        <label>Disponible</label>
                        <input type="boolean" th:field="*{avalible}" class="form-control"/>
                    </div>

                        <div class="row form-group">
                            <input type="file" name="file" class="m-2"/>
                        </div>

                    <button type="submit" class="btn btn-success">Guardar</button>
                </form>
            </div>
        </div>
    </div>

</div>
</body>
</html>