<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login - Naucratis</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/registro-login.css">
</head>
<body>
<!-- Form of login -->
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card card-signin flex-row my-5">
                <div class="card-img-left d-none d-md-flex">
                    <!-- Background image for card set in CSS! -->
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">Inicio de Sesión - Naucratis</h5>
                    <form class="form-signin" th:action="@{/login}" method="post">

                        <!-- error message -->
                        <div th:if="${param.error}">
                            <div class="alert alert-danger">Usuario y/o contraseña incorrecta</div>
                        </div>

                        <!-- logout message -->
                        <div th:if="${param.logout}">
                            <div class="alert alert-info">Has finalizado la sesión.</div>
                        </div>

                        <hr class="my-4">
                        <div class="form-group">
                            <label for="username">Correo</label> :
                            <input type="text" class="form-control" id="username" name="username"
                                   placeholder="Ingrese el correo electrónico" autofocus="autofocus">
                        </div>

                        <div class="form-group">
                            <label for="password">Password</label> :
                            <input type="password" class="form-control" id="password" name="password"
                                   placeholder="Ingrese la contraseña">
                        </div>

                        <hr class="my-4">

                                    <button type="submit" name="login-submit" id="login-submit"
                                           class="btn btn-lg btn-primary btn-block text-uppercase">Ingresar</button>
                    </form>
                    <span class="d-block text-center mt-2 small">¿No estás registrado? <a href="/" th:href="@{/registro?role=client}">Registrate aquí</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>