<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<header>
    <table>
        <td>
            <img width="100px" th:src="@{/images/Naucratis.png}">
        </td>
        <td>
            <h1> Naucratis </h1>
        </td>
    </table>
</header>
<h1> Perfil cliente <span th:text="${customer.name}">NOMBRE</span></h1>

<table>
    <tr>
        <td>Nombre: </td>
        <td><span th:text="${customer.name}">NOMBRE</span></td>
    </tr>
    <tr>
        <td>Ciudad: </td>
        <td><span th:text="${customer.city}">CIUDAD</span></td>
    </tr>
    <tr>
        <td>Dirección: </td>
        <td><span th:text="${customer.address}">DIRECCIÓN</span></td>
    </tr>
    <tr>
        <td>Telefono: </td>
        <td><span th:text="${customer.phone}">TELEFONO</span></td>
    </tr>
    <tr>
        <td>Correo: </td>
        <td><span th:text="${customer.email}">CORREO</span></td>
    </tr>
</table>
</body>
</html>