<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
      <meta charset="UTF-8">
      <title> Carrito de compras </title>
  </head>
  <body>
    <h1> Ordenes </h1>
    <table>
        <tr>
            <td> Fecha </td>
            <td> Id orden </td>
            <td> Libro </td>
            <td> Nombre libro </td>
            <td> ISBN </td>
            <td> Nombre libreria </td>
            <td> Valor </td>
        </tr>
        <tr th:each="order: ${orders}">
            <td> <span th:text="${order.createdAt}">            </span> </td>
            <td> <span th:text="${order.id}"> </span> </td>
            <td> <img width="70px" th:src="'data:image/png;base64,'+${order.book.getImageBase64()}"> </td>
            <td> <span th:text="${order.book.name}">   </span> </td>
            <td> <span th:text="${order.copyBook.isbn}"> </span> </td>
            <td> <span th:text="${order.nameLibrary}"> </span> </td>
            <td> <span th:text="${order.copyBook.price}">   </span> </td>
            <td> <a th:href="@{'/eliminate/shoppingCart/order/' + ${order.id}}"><button> Eliminar </button></a></td>
        </tr>
        <tr>
            <td> <a th:href="@{/transaction/processPurchase}"> <button> Finalizar compra </button> </a> </td>
        </tr>
    </table>
  </body>
</html>